<h2>Listado de productos</h2>

<button [routerLink]='["/products-new"]' class="btn btn-primary">Nuevo producto</button>

<p *ngIf="!(productsList && productsList.length)">
  No existen productos para mostrar.
</p>

<br /><br />

<table class="table table-hover" *ngIf="(productsList && productsList.length)">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productsList">
      <td>{{prod.name}}</td>
      <td>{{prod.description}}</td>
      <td>{{prod.price | currency:'USD':"symbol"}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/products-edit/"+ prod.id]'>Editar</button>
        <button (click)="delete(prod)" class="btn btn-danger">Borrar</button>
        <button class="btn btn-success" (click)="addProduct(prod)">Agregar al carrito</button>
      </td>
    </tr>
  </tbody>
</table>
